/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #2ecc71; /* Verde vibrante */
    padding: 2em;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 3em;
}

/* Secciones del contenido */
main {
    padding: 2em;
    margin: 0 auto;
    max-width: 1200px;
}

/* Estilo para las secciones con fondo */
section {
    padding: 4em 0;
    color: white; /* Asegura que el texto sea visible sobre la imagen */
    opacity: 0;
    transform: translateY(50px); /* Movido hacia abajo al cargar */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Imagen fija mientras se hace scroll */
}

section.visible {
    opacity: 1;
    transform: translateY(0); /* Se mueve a su lugar original */
}

section h2 {
    font-size: 2.5em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1.5em;
}

section p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    color: #ffffff;
    text-align: center;
}

/* Fondo dinámico con gradientes */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #f093fb, #f5576c, #4facfe, #00f2fe);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Secciones del contenido */
main {
    padding: 2em;
    margin: 0 auto;
    max-width: 1200px;
}

section {
    padding: 4em 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

section h2 {
    font-size: 2.5em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1.5em;
}

section p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    color: #ffffff;
    text-align: center;
}